<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>yq@yqnyrl.pbz</string>
	<key>contactName</key>
	<string>Luke Daley</string>
	<key>description</key>
	<string>A bundle for the &lt;a href="http://gradle.org/"&gt;Gradle&lt;/a&gt; build tool.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>A5A2A0E0-CED2-4B1A-99A1-BD9FEDA6BF2D</string>
			<string>92BB6E22-941A-4674-86F8-416A26C71844</string>
			<string>4BDBEF0B-B881-43AE-B244-C991EE061AC4</string>
			<string>27BABDCB-E3E9-4D6C-B41E-1F6C78AF6D13</string>
			<string>2A6A2366-DAEF-430F-836C-AF376356F578</string>
			<string>------------------------------------</string>
			<string>00B46976-927B-4ADE-8523-05AF161A268C</string>
			<string>DCC053B2-0B53-443C-A3C0-DC0DC007D818</string>
			<string>BAEFD36A-2920-401C-8DBD-0E90A22E650F</string>
			<string>45890847-2738-4B2E-9D90-936F632DB9FF</string>
			<string>18BAC303-8876-421D-AFCA-5438D0BDF687</string>
			<string>------------------------------------</string>
			<string>D052BD31-478C-481C-8016-E09F20C69B76</string>
			<string>------------------------------------</string>
			<string>E234D2D4-F08E-4937-9692-A2D7AC7C5870</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>E234D2D4-F08E-4937-9692-A2D7AC7C5870</key>
			<dict>
				<key>items</key>
				<array>
					<string>81F9ED20-8CCE-4B1D-90E9-CD2797BB18EE</string>
				</array>
				<key>name</key>
				<string>Settings</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Gradle</string>
	<key>ordering</key>
	<array>
		<string>D7E70EBB-ED68-4F09-A5AF-9126624AE319</string>
		<string>81F9ED20-8CCE-4B1D-90E9-CD2797BB18EE</string>
		<string>92BB6E22-941A-4674-86F8-416A26C71844</string>
		<string>A5A2A0E0-CED2-4B1A-99A1-BD9FEDA6BF2D</string>
		<string>27BABDCB-E3E9-4D6C-B41E-1F6C78AF6D13</string>
		<string>4BDBEF0B-B881-43AE-B244-C991EE061AC4</string>
		<string>2A6A2366-DAEF-430F-836C-AF376356F578</string>
		<string>DCC053B2-0B53-443C-A3C0-DC0DC007D818</string>
		<string>00B46976-927B-4ADE-8523-05AF161A268C</string>
		<string>45890847-2738-4B2E-9D90-936F632DB9FF</string>
		<string>BAEFD36A-2920-401C-8DBD-0E90A22E650F</string>
		<string>18BAC303-8876-421D-AFCA-5438D0BDF687</string>
		<string>D052BD31-478C-481C-8016-E09F20C69B76</string>
	</array>
	<key>uuid</key>
	<string>B1FFE4CD-5ABE-4D21-87B6-543C31692736</string>
</dict>
</plist>
