<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Gradle</string>
	<key>contactEmailRot13</key>
	<string>yq@yqnyrl.pbz</string>
	<key>contactName</key>
	<string>Luke Daley</string>
	<key>description</key>
	<string>A bundle for the &lt;a href="http://gradle.org/"&gt;Gradle&lt;/a&gt; build tool.</string>
	<key>uuid</key>
	<string>B1FFE4CD-5ABE-4D21-87B6-543C31692736</string>
</dict>
</plist>
